a {
  text-decoration: none;
  color: #222831;
}

.unlocked {
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}

.blocked {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.pb {
  padding: 4em 0;
}

.pb2 {
  padding: 2em 0;
}

.mb {
  margin: 2em 0;
}

.fwn {
  font-weight: normal;
}

h1,
h2,
h3 {
  position: relative;
  z-index: 1;
}

.header {
  text-align: center;
  color: #dddddd;
}
.header h1,
.header h2 {
  font-size: 3rem;
  font-weight: normal;
}
.header .universal-span {
  font-weight: bold;
}

.section__header {
  padding: 0 0.5em;
  text-align: center;
}
.section__header--text {
  margin-top: 0.5em;
  font-weight: normal;
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-size: 4.6rem;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  color: #222831;
  background-color: #dddddd;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dddddd;
  z-index: 100;
}
.nav__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  height: 60px;
}
.nav__logo {
  font-size: 2.6rem;
  font-weight: bold;
}
.nav__menu {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100dvh - 60px);
  translate: 120% 0;
  transition: translate 0.3s;
  background-color: #dddddd;
}
.nav__menu--active {
  translate: 0;
}
.nav__menu-link {
  font-size: 1.8rem;
}
.nav__bars {
  position: absolute;
  right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}
.nav__bars--active .nav__bars-line:nth-child(1) {
  rotate: -45deg;
  translate: 0 8px;
}
.nav__bars--active .nav__bars-line:nth-child(2) {
  opacity: 0;
}
.nav__bars--active .nav__bars-line:nth-child(3) {
  rotate: 45deg;
  translate: 0 -8px;
}
.nav__bars-line {
  width: 30px;
  height: 3px;
  background-color: #222831;
  border-radius: 10px;
  transition: rotate 0.3s, translate 0.3s 0.1s, opacity 0.3s;
}

.header {
  margin-top: 60px;
  width: 100%;
  overflow: hidden;
}
.header__slider {
  display: flex;
  width: 200%;
  transition: transform 0.3s ease-in-out;
}
.header__slide {
  width: 100%;
}
.header__slide-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
}
.header__slide-photo::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
}
.header__slide-photo--one {
  background-image: url("../../dist/img/header-big.webp");
}
.header__slide-photo--two {
  background-image: url("../../dist/img/header-two.webp");
}
.header__btns {
  margin: 1.5em;
}
.header__btn {
  width: 40px;
  height: 10px;
  border: none;
  border-radius: 10px;
  background-color: #222831;
  transition: background-color 0.3s ease-in-out;
}
.header__btn:nth-child(1) {
  margin-right: 0.5em;
  background-color: #6191da;
}
.header__btn:nth-child(2) {
  margin-left: 0.5em;
}

.offers__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
}
.offers__link {
  position: relative;
  left: 50%;
  display: block;
  margin: 4em 0 2em 0;
  width: 160px;
  text-align: center;
  translate: -50% 0;
}
.offers__link::after {
  content: "";
  position: absolute;
  bottom: -1.2em;
  left: 50%;
  width: 110%;
  height: 10px;
  border-radius: 10px;
  background-color: #6191da;
  translate: -50% 0;
}
.offers__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  padding: 1em;
  width: clamp(300px, 80%, 340px);
  height: 280px;
  background-color: #d2d2d2;
}
.offers__card-photo {
  width: 150px;
  height: 150px;
  background-size: cover;
}
.offers__card-photo--one {
  background-image: url("../../dist/img/wine_1.png.webp");
}
.offers__card-photo--two {
  background-image: url("../../dist/img/wine_2.png.webp");
}
.offers__card-photo--three {
  background-image: url("../../dist/img/wine_3.png.webp");
}
.offers__card-title {
  font-weight: bold;
}

.footnote {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50dvh;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../../dist/img/wine-opinion-big.webp");
}
.footnote::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
}
.footnote h2,
.footnote h3 {
  font-size: 3.2rem;
  color: #dddddd;
}
.footnote h2 {
  font-weight: normal;
}

.opinion {
  overflow: hidden;
}
.opinion__slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.opinion__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}
.opinion__photo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-image: url("../../dist/img/opinion-face1.png");
}
.opinion__text {
  margin: 1.5em 0;
  padding: 0 1em;
  text-align: center;
}
.opinion__name {
  font-weight: bold;
}
.opinion__btns {
  margin: 2em 0 1em 0;
  text-align: center;
}
.opinion__btn {
  margin: 0.5em;
  width: 30px;
  height: 10px;
  border: none;
  border-radius: 10px;
  background-color: #222831;
}
.opinion__btn--one {
  background-color: #6191da;
}

.blog {
  background-color: #d4d4d4;
}
.blog__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5em;
}
.blog__card {
  margin-top: 5em;
  padding: 1em;
}
.blog__card-photo {
  position: relative;
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
}
.blog__card-photo::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 31, 31, 0.5);
}
.blog__card-photo--one {
  background-image: url("../../dist/img/blog-photo-one.webp");
}
.blog__card-photo--two {
  background-image: url("../../dist/img/blog-photo-two.webp");
}
.blog__card-photo--three {
  background-image: url("../../dist/img/blog-photo-three.webp");
}
.blog__card-title {
  margin: 1em 0 0.5em 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog__card-text {
  color: #302b21;
}
.blog__card-info {
  margin-top: 0.5em;
  font-weight: bold;
}

.footer__text {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .nav__container {
    height: 80px;
  }
  .nav__logo {
    font-size: 3.2rem;
  }
  .nav__menu {
    position: static;
    justify-content: flex-end;
    flex-direction: row;
    width: 50%;
    height: 100%;
    translate: 0;
  }
  .nav__menu-link:not(:last-child) {
    margin-right: 1em;
  }
  .nav__bars {
    display: none;
  }
  .header {
    margin: 0 auto;
    max-width: 1200px;
  }
  .header__slide-photo {
    min-height: 70dvh;
  }
  .offers__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .offers__card:last-child {
    margin-top: 0;
  }
  .footnote h2,
  .footnote h3 {
    font-size: 3.8rem;
  }
  .opinion__slide {
    min-width: 50%;
  }
  .opinion__btn--three {
    display: none;
  }
  .blog__card {
    width: clamp(240px, 80%, 480px);
  }
  .blog__card-photo {
    height: 250px;
  }
  .footer__text {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .nav__menu-link {
    transition: color 0.3s;
  }
  .nav__menu-link:not(:last-child) {
    margin-right: 1.5em;
  }
  .nav__menu-link:hover {
    color: #6191da;
  }
  .offers__link {
    transition: color 0.3s;
  }
  .offers__link:hover {
    color: #6191da;
  }
  .offers__card:last-child {
    margin-top: 2.5em;
  }
  .footnote h2,
  .footnote h3 {
    font-size: 4.6rem;
  }
  .opinion__slider {
    align-items: center;
    justify-content: center;
    gap: 5em;
  }
  .opinion__slide {
    min-width: 250px;
    max-width: 280px;
  }
  .opinion__btns {
    display: none;
  }
  .blog__container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */