//?kolory
$text-color: #222831;
$text-color-two: #585858;
$bg-color: #dddddd;
$bg-color-two: #bababa;
$bg-color-three: #d4d4d4;
$hero-color: rgb(31, 31, 31, 0.5);
$wine-bg: #d2d2d2;
$footer: #222222;
$black: #222831;
$primary: #6191da;
